{name, "gen_leader"}.
{description, "A project to unify various implementations of the Erlang library gen_leader into a modern, robust single implementation"}.
{url, {git, "https://github.com/abecciu/gen_leader_revival.git","HEAD"}}.
{rebar_compatible, true}.
{applications, [gen_leader]}.
{authors, ["Hans Svensson <hanssv@chalmers.se>", "Thomas Arts <thomas.arts@ituniv.se>", "Ulf Wiger <ulf.wiger@ericsson.com>"]}.
{contributors, ["Serge Aleynikov <saleyn@gmail.com>","Dave Fayram <dave@banksimple.net>","Augusto Becciu <augusto@becciu.org>"]}.
{license, "Erlang Public License"}.
